<section class="hero">
    <div class="hero__content">
        <h1>Discover Tomorrow's Innovations Today</h1>
        <p>Exploring the intersection of technology, sustainability, and human progress</p>
        <a href="#featured" class="hero__cta">Explore Latest</a>
    </div>
    <div class="hero__animation">
        <img src="../../placeholder-animation.svg" 
             alt="Innovation Animation" 
             class="hero__animation-img"
             width="600" 
             height="400">
    </div>
</section>
