<header class="main-header">
    <nav class="main-nav">
        <a href="/" class="logo">
            <img src="../../favicon.svg" alt="NuWarez Logo" width="40" height="40">
            NuWarez
        </a>
        <ul class="nav-links">
            <li><a href="#featured">Featured</a></li>
            <li><a href="#niches">Niches</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#articles">Articles</a></li>
            <li><a href="#newsletter" class="cta-button">Subscribe</a></li>
        </ul>
    </nav>
</header>
